{% load static %}


<link rel="stylesheet" type="text/css" href="{% static '/habit/css/instagram.css' %}">


<a href="{{ habit_post.get_absolute_url }}">


	<div class="gallery-item" tabindex="0" >

		{% if habit_post.image %}

				<img src="{{ habit_post.image.url }}" class="gallery-image" alt="Image of post"/>


		{% endif %}


		<!-- icon in the top corner of image -->
		<div class="gallery-item-type">

			<span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

		</div>


		{% if show_hover_info %}
		<div class="gallery-item-info">


				<div class="gallery-item-likes"><span class="visually-hidden"></span>
					{{ habit_post.title }}
					<br>
					{% if habit_post.get_post_specific_streak > 1 %}
						{{ habit_post.get_post_specific_streak }} 🔥
					{% endif %}
					
					{% if habit_post.get_num_post_likes > 0 %}
					<span class="visually-hidden">Likes:</span> {{ habit_post.get_num_post_likes }} <i class="fas fa-heart" aria-hidden="true"></i>
					{% endif %}
					{% if habit_post.get_num_post_comments > 0 %}
					<span class="visually-hidden">Comments:</span> {{ habit_post.get_num_post_comments }} <i class="fas fa-comment" aria-hidden="true"></i>
					{% endif %}
				</div>




		</div>
		{% endif %}
	</div>
</a>