<div class='col-12 col-md-10 mb-3 mx-auto'>
<div class='card {% if blog_post.publish_date %} border border-dark {% endif %}'>
	<div class='card-body'> <!-- these are bootstrap classes -->
		{% if habit_post.image %}
			<a href="{{ habit_post.get_absolute_url }}">
				<img src="{{ habit_post.image.url }}" class='card-img-top' />
			</a>
		{% endif %}

		<h5 class='card-title'>{{ habit_post.title }}</h5>
		<p class='card-text'>
			<small class='text-muted'>
			{{ habit_post.track }}

		</small>

			{% if truncate %}
				{{ habit_post.description|linebreaks|truncatewords:300 }}
			{% else %}
				{{ habit_post.description|linebreaks }}
			{% endif %}
		</p>

		{% if not detail %}
			<a href="{{ habit_post.get_absolute_url }}">
				{% if habit_post.publish_date %}
				View Post
				{% else %}
				View Draft
				{% endif %}
			</a>
		{% endif %}
	</div>
</div>
</div>