{% extends "profile/profile-base.html" %}

{% load habit_tags %}

{% block gallery %}

<main>


	<div class="container">

		<div class="gallery-feed">

			{% block content %}


				{% include 'posts/grid-post-preview.html' with habit_post=post truncate=True detail=False %} <!-- Created a new variable to pass object in as --> 


			{% endblock %}
			<div class="post-details">
				<a href="{{ profile_url }}">{{ profile_user.username }}</a>
				{{ post.description }}
				<span id="total-post-likes">
				{% if post.post_likes.all %}
					{{ post.post_likes.all|length }}
				{% else %}
				{% endif %}
				</span>❤️️

			</div>


			<button id="about-btn"> about btn </button>

			<button id="go">Say hello</button>

			<button id="button" >DOM button</button>

			<button id="like-btn" data-url="{% url 'PostLikeToggle' %}" data-post-id="{{ post.pk }}">
			<div id="like-btn-txt"> 
			{% if post_liked_by_user %}
			Unlike
			{% else %}
			Like
			{% endif %}
			</div>
			</button>


			<div id="result"></div>


			<div>
				{% for c in post.comments.all %}
				{% if c.parent is None %}
				<p>{{ c.timestamp }} {{ c.user }} {{ c.comment }}<button type="reply-button" value ="Add Child" onclick="addChild({{ c.pk }});">Reply</button> <span><button type="reply-button" value ="Add Child" >Like</button>
										{% is_comment_liked_by_user c request.user %}
					{% if c.comment_likes.all %}
					{{ c.comment_likes.all|length }}❤️️

					{% else %}
					Like
					{% endif %}
					</span>
				</p>
					{% for r in c.replies.all %}
						<p>-----{{ r.timestamp }} {{ r.user }} {{ r.comment }}
							{% if r.comment_likes.all %}
							{{ r.comment_likes.all|length }}❤️️
							{% endif %}
						</p>
					{% endfor %}



					<div class="reply-to-comment" id="{{ c.pk }}" style="display: none">
					<form>
						{{ c.pk }}
						{% csrf_token %}
    					{{ form.as_p }}
    					<button type='submit'>Post</button>
					</form>
					</div>

				{% endif %}
				{% endfor %}
			</div>
			<form method='POST' action='.' class="add-comment"> 
				{% csrf_token %}
    			{{ form.as_p }}
				<button type='submit'>Post</button>
			</form>

			<script type="text/javascript">

			</script>
		</div>
		<!-- End of gallery -->

		<div class="loader"></div>

	</div>
	<!-- End of container -->

</main>

{% endblock %}