{% extends "profile/profile-base.html" %}

{% load habit_tags %}

{% block gallery %}

<main>


	<div class="container post-detail-view">

		<div class="container-item-bordered">

			{% block content %}


				{% include 'posts/grid-post-preview.html' with habit_post=post truncate=True detail=False %} <!-- Created a new variable to pass object in as --> 


			{% endblock %}
			<div class="post-details">
				<span class="post-likes" id="{{ post.pk }}-total-post-likes">
					{{ post.get_post_likes_formatted }}
				</span>
				<button class="like-btn btn post-like-btn" id="{{ post.pk }}" data-url="{% url 'PostLikeToggle' %}" data-post-id="{{ post.pk }}">
				<div id="{{ post.pk }}-like-btn-txt"> 
					{% is_post_liked_by_user post user as user_liked_post %}
					{% if user_liked_post %}
						Unlike
					{% else %}
						Like
					{% endif %}
				</div>
				</button>
				<div style="color:black" class="comment">
					<p>
					<b><a class="link-simple" href="{{ post.user.get_profile_url }}">{{ post.user.username }}</a></b> {{ post.description }}
					</p>
				</div>
				{% include 'comments/comment-section.html' with comments=post.comments.all detail=True %}

				<div class="post-age comment">
					<a class="light-grey-link"href="{{ habit_post.get_absolute_url }}">
					<p>{{ post.get_age }}</p>
					</a>
				</div>

			</div>

			<!--

			<button class="btn like-btn" id="about-btn"> about btn </button>

			<button id="go">Say hello</button>

			<button id="button" >DOM button</button>
			



			<div id="result"></div>
			
-->

		</div>
		<!-- End of gallery -->

		<div class="loader"></div>

	</div>
	<!-- End of container -->

</main>

{% endblock %}