{% extends "profile/profile-base.html" %}

{% load habit_tags %}

{% block gallery %}

<main>


	<div class="container">

		<div class="gallery-feed">

			{% block content %}


				{% include 'posts/grid-post-preview.html' with habit_post=post truncate=True detail=False %} <!-- Created a new variable to pass object in as --> 


			{% endblock %}
			<div class="post-details">
				<button class="like-btn btn post-like-btn" id="{{ post.pk }}" data-url="{% url 'PostLikeToggle' %}" data-post-id="{{ post.pk }}">
				<div id="{{ post.pk }}-like-btn-txt"> 
					{% is_post_liked_by_user post user as user_liked_post %}
					{% if user_liked_post %}
						Unlike
					{% else %}
						Like
					{% endif %}
				</div>
				</button>
				<span id="{{ post.pk }}-total-post-likes">
				{% if post.post_likes.all %}
					{% get_likes_formatted post.post_likes.all|length %}
				{% else %}
				{% endif %}
				</span>
				<br>
				<br>
				<div style="color:black" class="comment">
					<p>
					<b><a class="link-simple" href="{{ profile_user.get_profile_url }}">{{ profile_user.username }}</a></b> {{ post.description }}
					</p>
				</div>

			</div>

			<!--

			<button class="btn like-btn" id="about-btn"> about btn </button>

			<button id="go">Say hello</button>

			<button id="button" >DOM button</button>
			



			<div id="result"></div>
			
-->
			{% include 'comments/comment-section.html' with blog_post=object detail=True %}




<!--
			<div>
				{% for c in post.comments.all %}
					{% if c.parent is None %}
						<div class="comment">
						<p><b>{{ c.user }}</b> {{ c.comment }}<span><button class="comment-like-btn like-btn btn" id="{{ c.pk }}" data-url="{% url 'CommentLikeToggle' %}" data-comment-id="{{ c.pk }}">
							<div id="{{ c.pk }}-like-btn-txt">
							{% is_comment_liked_by_user c request.user as user_liked_comment %}
							{% if user_liked_comment %}
								Unlike
							{% else %}
								Like
							{% endif %}
							</div>

						</button>
							<div>{{ c.get_age }}
									<span class="comment-like-total" 
									{% if c.comment_likes.all %}
										style="display: inline-block"
									{% else %}
										style="display: none"
									{% endif %}
									id="{{ c.pk }}-total-comment-likes">
										{% if c.comment_likes.all %}
											{% get_likes_formatted c.comment_likes.all|length %}
										{% endif %}
									</span>
									<button class="btn reply-btn" type="reply-button" value ="Add Child" onclick="addChild('{{ c.pk }}-reply');">Reply</button>
							</div>
						</span>
						</p>
						</div>
							{% for r in c.replies.all %}
								<div class="subcomment">

								<p><b>{{ r.user }}</b> {{ r.comment }}<button class="btn like-btn comment-like-btn" id="{{ r.pk }}-like" data-url="{% url 'CommentLikeToggle' %}" data-comment-id="{{ r.pk }}">
								<div id="{{ r.pk }}-like-btn-txt">
									{% is_comment_liked_by_user r request.user as user_liked_comment %}
									{% if user_liked_comment %}
										Unlike
									{% else %}
										Like
									{% endif %}

								</div>
								</button>
								<div>
									{{ r.get_age }} 
									<span class="comment-like-total" 
									{% if r.comment_likes.all %}
										style="display: inline-block"
									{% else %}
										style="display: none"
									{% endif %}
									id="{{ r.pk }}-total-comment-likes">
										{% if r.comment_likes.all %}
											{% get_likes_formatted r.comment_likes.all|length %}
										{% endif %}
									
									</span>
									<button class="btn reply-btn" type="reply-button" value ="Add Child" onclick="addChild('{{ c.pk }}-reply');">Reply</button>
								</div>
								</p>
								</div>
							{% endfor %}
							



							<div class="btn reply-to-comment" id="{{ c.pk }}-reply" style="display: none">
							<form method='POST' action='.' class="add-comment">
								
								{% csrf_token %}
		    					
		    					<input name="comment" class="comment-box">
		    					<input name="parent" type="hidden" value="{{ c.pk }}" >
		    					<button class="btn post-comment-btn	" type='submit'>Post</button>
							</form>
							</div>

					{% endif %}
				{% endfor %}
			</div>


			<form method='POST' action='.' class="add-comment"> 
				{% csrf_token %}
    			<input name="comment" class="comment-box">
				<button class="btn post-comment-btn" type='submit'>Post</button>
			</form>
		-->
		</div>
		<!-- End of gallery -->

		<div class="loader"></div>

	</div>
	<!-- End of container -->

</main>

{% endblock %}