/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

ul {
    padding-inline-start: 0;
}

body, h1{
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #fafafa;
    color: #262626;

}

body {
    min-height: 100vh;
    padding-bottom: 3rem;
}

b {
    font-weight: 600;
}


img {
    display: block;
}

.add-comment {
    display: -webkit-flex;
    margin-left: 1.6rem;
}

.post-age {
    font-size: 1rem !important;
    max-width: max-content;
}

input{
    -webkit-flex: 1;
    outline: 0;
}

.light-grey-link {
    color: rgb(142,142,142) !important;
    text-decoration: none !important;
}


ul.ui-autocomplete {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.ui-state-hover{
    background-color: #fafafa !important;
}
.ui-menu-item.ui-state-focus
{
  border: 1px solid #000 !important;
  background: #000 !important;
}

ul li{
    list-style-type: none;
}





/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: gray;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: max-content;
  top: 100%;
  left: 50%;
  transform:translateX(-50%); /* this centers it */

  opacity: 1;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent gray transparent;
}






.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
    justify-content: center;

}

.infinite-newsfeed-container{
    margin-top: 3rem;
}

.top-nav-box{
    background-color: #FFFFFF;
    display:flex;
    justify-content: space-between;
    position: relative;
    height: 54px;
}

.top-left-logo{

}

.top-right-profile-image{
    margin-right: 0px !important;
}
.top-right-profile-image img{
    width: 28px;
    height: 28px;


}

.top-middle-search-bar{
    align-self: center;

}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;

}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/*nav section from https://www.bypeople.com/css-photography-app/ */

/* not sure if this does anything on the first thing here */
nav {
  display: inline-flex;
}

.nav li {
  margin: 4rem 3rem 0 1rem;
  cursor: pointer;
  font-size: 13pt;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #888;
  list-style-type: none;
}

.nav li:hover, .nav li:nth-child(1)  { 
    color: #999 !important;
    border-bottom: 0.2rem solid #ffffff !important;
    text-decoration: none !important;
}


.nav li:hover, .nav li:active {
    text-decoration: none !important;
    color: #dadada !important;
    border-bottom: 0.2rem solid #dadada !important;
}

.top-nav-bar {
    border-bottom:1px solid #dadada;
    background-color: #ffffff;

}


.link-simple, .link-simple:link, .link-simple:visited, .link-simple:focus {
    color: black;
    text-decoration: none;
}

.link-simple:hover, .link-simple:active {
    text-decoration: underline;
    color: black;
}






/* fix recurrence form formatting */
label::after {
    content: '\A';
    white-space: pre;
}

/*
button, input[type="button"], input[type="file"] { 
    color:#050; 
    font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
    background-color:#fed; 
    border:1px solid; 
    border-color: #696 #363 #363 #696; 
}
*/



/* Profile Section */

.profile-track-details {
    padding: 1rem 0;
}

.profile-track-details::after{
    content: "";
    display: block;
    clear: both;
}

.profile-track-detail-stats {
    margin-top: 2.3rem;
}

.profile-track-detail-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-track-detail-stats li:last-of-type {
    margin-right: 0;
}

.profile-track-detail-stat-count{
    font-weight: 600;
}
.profile-track-detail-description {
    margin-top: 2.3rem;
}

.profile-track-detail-description li{
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-track-stat-posts-made {
    color: #336600 !important;
}
.profile-track-stat-posts-missed {
    color: #660000 !important;
}
.profile-track-stat-posts-expected {
    color: #006666 !important;
}


.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    position:relative;

}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn,
.submit-form-btn,
.profile-follow-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


/* center profile buttons vertically */
.profile-edit-btn {
    top: 50%;
    transform: translateY(-20%);
}

.profile-user-name{
    margin-right: 1rem;
}
.submit-form-btn {
    margin-left: 0rem;
    display: block;
}


.like-btn, .reply-btn, .post-comment-btn{
    font-size: 1.2rem;
    line-height: 1.8;
    /*border: 0.1rem solid #dbdbdb;*/
    border-radius: 0.3rem;
    padding: 0 1rem;
    margin-left: 0.2rem;
}

.post-comment-btn{
    color: rgb(0,149,246);
    appearance: none;
    border-image-width: 0;
    margin-right: 0.6rem;
}

.post-like-btn {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.post-likes {
    margin-left: 1.6rem;
}

.reply-btn {
    margin-left: 2rem;
    border: none;
}

.comment-like-btn{
    position: relative;
    float: right;
    margin-right: -1rem;

}

.comment-like-total {
    margin-left: 3rem;
    padding: 0 1rem;
    display: inline-block;
    font-size: 1.2rem;
}

.comment-age{
    font-size: 1.2rem;
}

.comment-box {
    border: none;
    color: rgb(142,142,142) !important;
    padding-bottom: 0rem;
    padding-left: 0rem;
}

.comment {
    font-size: 1.4rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    font-weight: 400;
}

.subcomment{
    font-size: 1.4rem;
    margin-left: 4.4rem;
    margin-right: 1.6rem;
    font-weight: 400;
}

.reply-to-comment{

}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn,
.submit-form-btn,
.profile-follow-btn {
    font-weight: 600;
}

.profile-follow-btn:hover {
    content: "Unfollow";
}




/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    flex: 1 0 22rem;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    object-fit: cover;
    background-color: #fff;
}
.container-item-bordered, .ui-autocomplete-input{
    border: 1px solid #dadada;
    background-color: white;
}

.ui-autocomplete-input{
    background-color: #fafafa;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    position: absolute;
    display: none;
    z-index: 5;
}


.gallery-item-info{
    font-size: 1.7rem;
    font-weight: 600;
}



.gallery-item-info li{
    list-style-type: none;
}

.gallery-item-likes {
    text-align: center;
    font-size: 1.7rem;
    max-width: 280px;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 3;
}



.post-details {
    font-size: 1.2rem;
    font-weight: 300;
    border-top: 1px solid rgb(239,239,239);
    /*border-bottom: 1px solid rgb(239,239,239);*/
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.post-streak {
    position: relative;
    float: right;
    margin-right: 1.6rem;
}


/* comment section */
/* "#" is used to select based on id value */
/* THIS DOESNT DO ANYTHING FOR SOME REASON???*/
.reply-to-comment {
    display: none;
}







/* Loader */

.loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 2rem auto;
    animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }

    .profile-edit-btn,
    .submit-form-btn,
    .profile-follow-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn,
    .submit-form-btn,
    .profile-follow-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .submit-form-btn,
    .profile-follow-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {


    /*nav section from https://www.bypeople.com/css-photography-app/ */
    .nav {
        text-align: center;
        border-top:1px solid rgb(219,219,219);

    }

    .nav ul{
        margin: 0;
        padding-inline-start: 0px;
        display: inline-flex;
        list-style-type: none;

    }



    .nav li {
        margin: 1.5rem 1.5rem 1.5rem 1.5rem;
        cursor: pointer;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #888;
    }

    .nav li:hover, .nav li:nth-child(1)  { 
      color: #999;
      border-bottom: 0rem solid #999;
    }

    .nav a{
        text-decoration: none;
    }


    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(22rem, 1fr));
        grid-template-rows: 1fr;
        grid-gap: 2rem;
    }
.gallery-item::before {
    position: relative;
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: 100%;
  left: 0;
    top: 0;
  z-index: 2;
}


.square {
    position:relative;
  height: 285px;
  width: 285px;
  background-color: #000;
  left: 0;
    top: 0;
  z-index: 0;
}




    .gallery-feed, .post-detail-view{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        max-width: 600px;
        width: auto;
        margin: 0 auto;

    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;

    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile-edit-btn,
        .submit-form-btn,
        .profile-follow-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .submit-form-btn,
        .profile-follow-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}
