{% load static %}

<!DOCTYPE>
<header>
	

	<!-- this gives us the fonts and the like, comment characters -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

	<link rel="stylesheet" type="text/css" href="{% static '/habit/css/instagram.css' %}">

	{{ post.image }}


	<div class="container">


		<div class="profile">

			<div class="profile-image">

				<img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">{{ profile_user.username }}</h1>

				<button class="btn profile-edit-btn">Edit Profile</button>

				<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">{{ total_posts_made }}</span> posts</li>
					<li><span class="profile-stat-count">188</span> followers</li>
					<li><span class="profile-stat-count">206</span> following</li>
				</ul>
				{% if checkins_expected is not None %}
				<ul>
					{% if checkins_expected > 0 %}
					<li>
						<a href="{{ new_post_url }}">
							<span class="profile-stat-count">{{ checkins_expected }}</span> check-ins left for you today
						</a>
					</li>
					{% else %}
						<li><span class="profile-stat-count"></span>You're all caught up on your Habits!</li>
					{% endif %}


				</ul>
				{% endif %}

				<ul>
					<li>
						{{ track_name }}
					</li>
					<li>	
					<div class="tooltip">
						<span class="profile-stat-count">{{ streak_this_track }} / {{ longest_streak_this_track }} </span>
						<span class="tooltiptext"> Current Streak / Longest Streak</span>
					</div>
					</li>
					<li></li>
					<li>
					<div class="tooltip">	
						<span class="profile-stat-count">{{ num_posts_made }} / {{ num_posts_missed }} / {{ num_posts_expected }} </span>
						<span class="tooltiptext"> Posts Made/Missed/Expected</span>
					</div>
					</li>
				</ul>

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name">{{ profile_user.first_name }} {{ profile_user.last_name }}</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</p>

			</div>

		</div>
		<!-- End of profile section -->

		<div class="row">
			<div class="nav">
		        <ul>
		          <a href="{{ profile_url }}">
		          	<li>Posts</li>
		          </a>
		          <a href="{{ profile_url }}/tracks">
		          	<li>Tracks</li>
		      	  </a>
		      	  {% if track_url %}
		      	  <a href="{{ track_url }}/grid">
		          	<li>Grid</li>
		      	  </a>
		      	  <a href="{{ track_url }}/feed">
		          	<li>Feed</li>
		      	  </a>
		          {% endif %}
		          
		        </ul>
		    </div>
		</div>
	</div>
	<!-- End of container -->
</header>


{% block gallery %}

Gallery should be

{% endblock %}