{% extends "base/base.html" %}
{% load habit_tags %}
{% block main_content %}

	<div class="container profile-box">

		{% csrf_token %}
		<div class="profile">

			<div class="profile-image">
				{% if profile_user.user_profile.profile_image %}
				<img src="{{ profile_user.user_profile.profile_image.url }}" alt="Image of post"/>
				{% else %}
				<img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">
				{% endif %}

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">{{ profile_user.username }}</h1>

				{% is_this_owned_by_user profile_user user as owned_by_user %}
				{% is_profile_followed_by_user profile_user user as user_follows_profile %}
				{% is_user_followed_by_profile_user profile_user user as user_followed_by_profile_user %}

				{% if owned_by_user %}
					<button class="btn profile-edit-btn profile-btn" onclick="location.href='{% url "edit-profile" %}';">Edit Profile</button>
					{% if not create_view %}
					<button class="btn new-track-btn profile-btn" onclick="location.href='{% url 'new-track' %}'" type="button">New Track</button>
					{% endif %}
				{% elif user_follows_profile %}
					<button class="btn profile-follow-btn profile-followed profile-btn" id="profile-follow-btn" data-url="{% url 'ProfileFollowToggle' %}" data-profile-user-id="{{ profile_user.id }}">Followed</button>
				{% elif user_followed_by_profile_user %}
					<button class="btn profile-follow-btn profile-btn">Follow back</button>
				{% else %}
					<button class="btn profile-follow-btn profile-btn" id="profile-follow-btn" data-url="{% url 'ProfileFollowToggle' %}" data-profile-user-id="{{ profile_user.id }}">Follow</button>
				{% endif %}



				<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">{{ total_posts_made }}</span> posts</li>
					<li><span class="profile-stat-count" id="followers-count">{{ followers_count }}</span> followers</li>
					<li><span class="profile-stat-count" id="following-count">{{ following_count }}</span> following</li>
				</ul>
				
				<ul>
					{% if checkins_expected is not None %}
					{% if checkins_expected > 0 %}
					<li>
						<a href="{{ new_post_url }}">
							<span class="profile-stat-count">{{ checkins_expected }}</span> check-ins left for you today
						</a>
					</li>
					{% else %}
						<li><span class="profile-stat-count"></span>You're all caught up on your Habits!</li>
					{% endif %}
					{% else %}
					<li><br>
					</li>
					{% endif %}
				</ul>
				

				

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name">{{ profile_user.first_name }} {{ profile_user.last_name }}</span> 
				{% if profile_user.user_profile.profile_bio %}
					{{ profile_user.user_profile.profile_bio }}
				{% endif %}
				</p>

			</div>

		</div>
		<!-- End of profile section -->
		{% if num_posts_made %}
		<div class="profile-track-details">
			<div class="profile-track-detail-stats">
				<ul>
					<li>
						Habit Track: {{ track_name }}
						
						<div class="tooltip">	
							<span class="profile-track-detail-stat-count">
								(
								<span class= "profile-track-stat-posts-made">{{ num_posts_made }}</span> | 
								<span class= "profile-track-stat-posts-missed">{{ num_posts_missed }}</span> | 
								<span class= "profile-track-stat-posts-expected">{{ num_posts_expected }}</span>
								)
							</span>
							<span class="tooltiptext">Posts Made|Missed|Expected</span>
						</div>
					</li>


				</ul>
			</div>
			<div class="profile-track-detail-description">
				<ul>
					<li>
						 {{ track_desc }}
					</li>
				</ul>
			</div>
			<div class="profile-track-detail-stats">
				<li>	
					Current Streak: <span class="profile-track-detail-stat-count">{{ streak_this_track }}🔥</span>
				</li>
				<li>
					Longest Streak:  <span class="profile-track-detail-stat-count">{{ longest_streak_this_track }}🔥</span>
				</li>
			</div>
		</div>
		{% endif %}


		<div class="row">
			<div class="nav">
		        <ul>
		          <a href="{{ profile_user.get_profile_url }}">
		          	<li>Posts</li>
		          </a>
		          <a href="{{ profile_user.get_profile_url }}/tracks">
		          	<li>Tracks</li>
		      	  </a>
		      	  {% if track_url %}
		      	  <a href="{{ track_url }}/grid">
		          	<li>Grid</li>
		      	  </a>
		      	  <a href="{{ track_url }}/feed">
		          	<li>Feed</li>
		      	  </a>
		          {% endif %}
		          
		        </ul>
		    </div>
		</div>
	</div>
	<!-- End of container -->



{% block gallery %}

{% endblock %}

{% block form-content %}
{% endblock %}

{% endblock %}