{% load static %}
{% load habit_tags %}
<!DOCTYPE>
<header>


	<!-- this is for the forms to work properly -->
	<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
	<script type="text/javascript" src="/admin/jsi18n/"></script>
	<script type="text/javascript" src="/static/admin/js/core.js"></script>
	

	<!-- this is just the favicon -->
	<link rel="shortcut icon" href="{% static '/habit/images/logos/favicon.ico' %}">
	


	<!-- this gives us the fonts and the like, comment characters -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

	<link rel="stylesheet" type="text/css" href="{% static '/habit/css/instagram.css' %}">
	<script type="text/javascript" src="{% static '/habit/js/jquery.js' %}"></script>
	<script src="{% static '/habit/js/habit-js.js' %}"></script>

	<script src="{% static '/habit/js/infinite_2.js' %}"></script>



	<div class="top-nav-bar">
		<div class="container top-nav-box">
			<div class="top-left-logo">
				<a href="{% url 'home' %}"><img src="{% static '/habit/images/logos/logo_white_long.png' %}" height="50px" ></a>
			</div>
			<div class="top-middle-search-bar" font-color="black">
				Search Bar Goes Here
			</div>
			<div class="top-right-profile-image profile-image">
				<img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">
			</div>
		</div>
	</div>

</header>

{% block main_content %}

{% endblock %}
