{% load static %}
{% load habit_tags %}
<!DOCTYPE>
<header>


	<!-- this is for the forms to work properly -->
	<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
	<script type="text/javascript" src="/admin/jsi18n/"></script>
	<script type="text/javascript" src="/static/admin/js/core.js"></script>
	

	<!-- this is just the favicon -->
	<link rel="shortcut icon" href="{% static '/habit/images/logos/favicon.ico' %}">
	


	<!-- this gives us the fonts and the like, comment characters -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

	<link rel="stylesheet" type="text/css" href="{% static '/habit/css/habit.css' %}">
	<script type="text/javascript" src="{% static '/habit/js/jquery.js' %}"></script>
	<script src="{% static '/habit/js/habit-js.js' %}"></script>

	<script src="{% static '/habit/js/infinite_2.js' %}"></script>

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.23/themes/base/jquery-ui.css" type="text/css" media="all"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js" type="text/javascript"></script>









	<div class="top-nav-bar">
		<div class="container top-nav-box">
			<div class="top-left-logo">
				<a href="{% url 'post-list' %}"><img src="{% static '/habit/images/logos/logo_white_long.png' %}" height="50px" ></a>
			</div>
			<div class="ui-widget top-middle-search-bar">
				<input name="user_name"class="form-control "id="search-user" placeholder="Search">
			</div>

			<script type="text/javascript">
				$(function() {
					$("#search-user").autocomplete({ autoFocus: true });
					$("#search-user").autocomplete({
		                source: function(request, response) {
		                $.ajax({
			                url: "{% url 'autocomplete' %}",
			                data: {
				                term: $("#search-user").val() ,
			                },
			                dataType: "json",
			                type: "GET",
			                success: function(data){
			                      response(data);
			                }
		                });
			            },
			            select: function(event, ui) {
			                location = String(ui.item.url);
			                              
			            }               
		            });
				});
			</script>

			<div class="top-right-buttons">
				{% if user.is_authenticated %}
				<a href="{{ user.get_profile_url }}">
					{% if user.user_profile.profile_image %}
					<div class="profile-image">
						<img src="{{ user.user_profile.profile_image.url }}" alt="Image of post"/>
					</div>
					{% else %}
					<img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">
					{% endif %}
				</a>
				<a class="logout-button"href= "{% url 'logout' %}">Log Out</a>
				{% else %}
				<a href="/habit/register">Register</a>/<a href="/habit/login">Log In</a>
				{% endif %}
			</div>
		</div>
	</div>

</header>

{% block main_content %}

{% endblock %}
