{% load habit_tags %}
{% block content %}
	

		<div>
			{% for c in comments %}
				<div class="comment">
					<p>
						<b><a class="link-simple" href="{{ c.user.get_profile_url }}">{{ c.user }}</a></b>
						 {{ c.comment }}
					</p>
				</div>
			{% endfor %}
		</div>
		<form method='POST' action='.' class="add-comment"> 
			{% csrf_token %}
			<input name="comment" class="comment-box light-grey" placeholder="Add a comment...">
			<button class="btn post-comment-btn" type='submit'>Post</button>
		</form>

{% endblock %}
