<!-- <li><a href='{{ object.get_absolute_url }}'>{{ blog_post.title }}</a></li> -->
<div class='col-12 col-md-10 mb-3 mx-auto'>
<div class='card {% if blog_post.publish_date %} border border-dark {% endif %}'>
	<div class='card-body'> <!-- these are bootstrap classes -->
		{% if blog_post.image %}
			<a href="{{ blog_post.get_absolute_url }}">
				<img src="{{ blog_post.image.url }}" class='card-img-top' />
			</a>
		{% endif %}

		<h5 class='card-title'>{{ blog_post.title }}</h5>
		<p class='card-text'>
			<small class='text-muted'>
			{% if blog_post.publish_date %}
				Published {{ blog_post.publish_date }}
			{% else %}
				Unpublished
			{% endif %}

		</small>

			{% if truncate %}
				{{ blog_post.content|linebreaks|truncatewords:300 }}
			{% else %}
				{{ blog_post.content|linebreaks }}
			{% endif %}
		</p>

		{% if not detail %}
			<a href="{{ blog_post.get_absolute_url }}">
				{% if blog_post.publish_date %}
				View Post
				{% else %}
				View Draft
				{% endif %}
			</a>
		{% endif %}
	</div>
</div>
</div>