{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/habit/css/instagram.css' %}">
<a href="{{ habit_track.get_absolute_url }}/grid">
	<div class="gallery-item" tabindex="0">
		{% if habit_track.cover_image %}
			<img src="{{ habit_track.cover_image.url }}" class="gallery-image" alt="Image preview of track"/>
		{% endif %}
		<div class="gallery-item-info">
			<ul>
				<li class="gallery-item-likes"><span class="visually-hidden"></span>{{ habit_track.track_name }}</li>
				<div></div>
			</ul>
		</div>
	</div>
</a>