{% load static %}

<head>
<script type="text/javascript" src="{% static '/habit/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static '/habit/js/jquery.waypoints.js' %}"></script>
<script type="text/javascript" src="{% static '/habit/js/infinite.js' %}"></script>





  <!-- this is for the forms to work properly -->
  <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="/static/admin/js/core.js"></script>
  

  <!-- this is just the favicon -->
  <link rel="shortcut icon" href="{% static '/habit/images/logos/favicon.ico' %}">
  


  <!-- this gives us the fonts and the like, comment characters -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

  <link rel="stylesheet" type="text/css" href="{% static '/habit/css/instagram.css' %}">
  <script type="text/javascript" src="{% static '/habit/js/jquery.js' %}"></script>
  <script src="{% static '/habit/js/habit-js.js' %}"></script>
hello
</head>



{% block content %}
    <div class="container">
  <div class="infinite-container">
    <div class="gallery-feed">






    {% for post in posts %}
    {% csrf_token %}
      <div class="infinite-item newsfeed-item">




        <h3>{{ post.title }}</h3>
        <p>
          <small>{{ post.user }} / {{ post.timestamp }}</small>
        </p>
        <p>{{ post.description|truncatechars:100 }}</p>
      


      {% include 'posts/newsfeed-post-preview.html' with habit_post=post truncate=True detail=False %}
    




    {% if show_hover_info %}
    <div class="gallery-item-info">


      <ul>
        <span>
        <li class="gallery-item-likes"><span class="visually-hidden"></span>{{ post.title }}</li>
        
        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56 <span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
        </span>
      </ul>
 

    </div>
    {% endif %}
  </div>







      {{ post.image }}
    {% endfor %}

</div>
</div>
</div>

  <div class="loading" style="display: none;">
    Loading...
  </div>

  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
  {% endif %}

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}