{% extends "base/base.html" %}
{% load static %}
{% load habit_tags %}



{% block main_content %}

<body>

  <div class="container infinite-newsfeed-container">
    <!-- element where scrolling happens -->
    <div class="posts gallery-feed" id="scroll-element">
      {% csrf_token %}
      {% include 'posts/_posts.html' with posts=posts %}
    </div>

    <!-- bottom sentinel element -->
    <div class="loader" id="bottom-sentinel">
    </div>
  </div>

</body>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    let bottomSentinel = document.querySelector("#bottom-sentinel");
    let scrollElement = document.querySelector("#scroll-element");
    let baseUrl = "{% url 'post-list' %}";
    attachInfiniteScroll(bottomSentinel, scrollElement, baseUrl);
  })

</script>


{% endblock %}
