{% extends "base/base.html" %}
{% load static %}
{% load habit_tags %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
  <title>infinite scroll</title>
  <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>





  <!-- this is just the favicon -->
  <link rel="shortcut icon" href="{% static '/habit/images/logos/favicon.ico' %}">
  


  <!-- this gives us the fonts and the like, comment characters -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

  <link rel="stylesheet" type="text/css" href="{% static '/habit/css/instagram.css' %}">
  <script type="text/javascript" src="{% static '/habit/js/jquery.js' %}"></script>
  <script src="{% static '/habit/js/habit-js.js' %}"></script>



  

</head>





{% block main_content %}

<body>
  <section class="section">
    <div class="container infinite-newsfeed-container">
          <!-- element where scrolling happens -->
          <div class="posts gallery-feed" id="scroll-element">
            {% csrf_token %}
            {% include 'posts/_posts.html' with posts=posts %}
          </div>

          <!-- bottom sentinel element -->
          <div class="loader" id="bottom-sentinel">
          </div>





  </div>
  </section>
</body>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    let bottomSentinel = document.querySelector("#bottom-sentinel");
    let scrollElement = document.querySelector("#scroll-element");
    let baseUrl = "{% url 'post-list' %}";
    attachInfiniteScroll(bottomSentinel, scrollElement, baseUrl);
  })

</script>


{% endblock %}
